header,
header h1 {
    color: #fffce0;
    background-color: #333;
    margin: 0;
    padding: 10px;
}

body {
    background-color: #fffce0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.method body {
    background-color: #f0fff8;
}

.method header,
.method header h1 {
    color: #f0fff8;
}

a.home_link {
    float: right;
    margin: 6px 12px;
}

article {
    margin: 3em 10%;
}

article pre {
    overflow-x: auto;
}

.method #main {
    width: 75%;
    float: left;
}

.default #main {
    margin: 3em 10%;
}

#sidebar {
    width: 24.9%;
    float: left;
    margin: 0;
    padding: 0;
}

#sidebar_content {
    margin: 10px;
    line-height: 130%;
    border-left: 1px solid #999;
}

#sidebar_content ul,
#sidebar_content ul a
{
    color: #666;
    text-decoration: none;
    
}