header,
header h1 {
    color: #fffce0;
    background-color: #333;
    margin: 0;
    padding: 10px;
}

body {
    background-color: #fffce0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.method body {
    background-color: #f0fff8;
}

.method header,
.method header h1 {
    color: #f0fff8;
}

a.home_link {
    float: right;
    margin: 6px 12px;
}

article {
    margin: 3em 10%;
    line-height: 130%;
}

article pre {
    overflow-x: auto;
}

.method #main {
    width: 75%;
    float: left;
}

.default #main {
    margin: 3em 10%;
}

#sidebar {
    width: 24.9%;
    float: left;
    margin: 0;
    padding: 0;
}

#sidebar_content {
    margin: 10px;
    border-left: 1px solid #999;
}

#sitemap,
#sitemap a
{
    color: #666;
    text-decoration: none;
    line-height: 130%;
}

footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: #333;
  color: #e0e0e0;
  padding: 4px 2px 0px;
}

footer div.author {
  font-style: normal;
  /*position: relative;*/
  float: right;
  margin: 2px 8px;
  font-size: 16px
}

footer div.author a {
  color: #308040;
  text-decoration: none;
}
