<ul id='sitemap'>
    <li><a href='/codaapidocs'>Home</a></li>
    <li><a href='api-authentication'>API Authentication</a></li>
    <li><a href='api-marshalling'>API Marshalling</a></li>
    <li><a href='concepts-overview'>Concepts Overview</a></li>
    <li><a href='externalv2jsonassignsource'>external/v2/json/assignSource</a></li>
    <li><a href='externalv2jsoncreatedisplay'>external/v2/json/createDisplay</a></li>
    <li><a href='externalv2jsoncreategroup'>external/v2/json/createGroup</a></li>
    <li><a href='externalv2jsoncreateplaylist'>external/v2/json/createPlaylist</a></li>
    <li><a href='externalv2jsoncreatesource'>external/v2/json/createSource</a></li>
    <li><a href='externalv2jsoncreateuser'>external/v2/json/createUser</a></li>
    <li><a href='externalv2jsongetdisplays'>external/v2/json/getDisplays</a></li>
    <li><a href='externalv2jsongetgroups-2'>external/v2/json/getGroups</a></li>
    <li><a href='externalv2jsongetorganisation'>external/v2/json/getOrganisation</a></li>
    <li><a href='externalv2jsongetplaylists'>external/v2/json/getPlaylists</a></li>
    <li><a href='externalv2jsongetsites'>external/v2/json/getSites</a></li>
    <li><a href='externalv2jsongetsources'>external/v2/json/getSources</a></li>
    <li><a href='externalv2jsongetuser'>external/v2/json/getUser</a></li>
    <li><a href='externalv2jsonmodifydisplay'>external/v2/json/modifyDisplay</a></li>
    <li><a href='externalv2jsonmodifygroup'>external/v2/json/modifyGroup</a></li>
    <li><a href='externalv2jsonmodifyplaylist'>external/v2/json/modifyPlaylist</a></li>
    <li><a href='externalv2jsonmodifysource'>external/v2/json/modifySource</a></li>
    <li><a href='externalv2jsonmodifyuser'>external/v2/json/modifyUser</a></li>
    <li><a href='externalv2jsonremovedisplay'>external/v2/json/removeDisplay</a></li>
    <li><a href='externalv2jsonremovegroup'>external/v2/json/removeGroup</a></li>
    <li><a href='externalv2jsonremovesource'>external/v2/json/removeSource</a></li>
    <li><a href='externalv2jsonremoveuser'>external/v2/json/removeUser</a></li>
    <li><a href='externalv2jsontouchsource'>external/v2/json/touchSource</a></li>
    <li><a href='externalv2jsonuploadsource'>external/v2/json/uploadSource</a></li>
    <li><a href='externalv2sonremoveplaylist'>external/v2/json/removePlaylist</a></li>
</ul>