<ul id='sitemap'>
    <li><a href='/codaapidocs'>Home</a></li>
    <li><a href='../api-authentication'>API Authentication</a></li>
    <li><a href='../api-marshalling'>API Marshalling</a></li>
    <li><a href='../concepts-overview'>Concepts Overview</a></li>
    <li><a href='../assignsource'>assignSource</a></li>
    <li><a href='../createdisplay'>createDisplay</a></li>
    <li><a href='../creategroup'>createGroup</a></li>
    <li><a href='../createplaylist'>createPlaylist</a></li>
    <li><a href='../createsource'>createSource</a></li>
    <li><a href='../createuser'>createUser</a></li>
    <li><a href='../getdisplays'>getDisplays</a></li>
    <li><a href='../getgroups-2'>getGroups</a></li>
    <li><a href='../getorganisation'>getOrganisation</a></li>
    <li><a href='../getplaylists'>getPlaylists</a></li>
    <li><a href='../getsites'>getSites</a></li>
    <li><a href='../getsources'>getSources</a></li>
    <li><a href='../getuser'>getUser</a></li>
    <li><a href='../modifydisplay'>modifyDisplay</a></li>
    <li><a href='../modifygroup'>modifyGroup</a></li>
    <li><a href='../modifyplaylist'>modifyPlaylist</a></li>
    <li><a href='../modifysource'>modifySource</a></li>
    <li><a href='../modifyuser'>modifyUser</a></li>
    <li><a href='../removedisplay'>removeDisplay</a></li>
    <li><a href='../removegroup'>removeGroup</a></li>
    <li><a href='../removesource'>removeSource</a></li>
    <li><a href='../removeuser'>removeUser</a></li>
    <li><a href='../touchsource'>touchSource</a></li>
    <li><a href='../uploadsource'>uploadSource</a></li>
    <li><a href='../removeplaylist'>removePlaylist</a></li>
</ul>