<ul id='sitemap'>
    <li><a href='/codaapidocs'>Home</a></li>
    <li><a href='/codaapidocs/api-authentication'>API Authentication</a></li>
    <li><a href='/codaapidocs/api-marshalling'>API Marshalling</a></li>
    <li><a href='/codaapidocs/concepts-overview'>Concepts Overview</a></li>
    <li><a href='/codaapidocs/assignsource'>assignSource</a></li>
    <li><a href='/codaapidocs/createdisplay'>createDisplay</a></li>
    <li><a href='/codaapidocs/creategroup'>createGroup</a></li>
    <li><a href='/codaapidocs/createplaylist'>createPlaylist</a></li>
    <li><a href='/codaapidocs/createsource'>createSource</a></li>
    <li><a href='/codaapidocs/createuser'>createUser</a></li>
    <li><a href='/codaapidocs/getdisplays'>getDisplays</a></li>
    <li><a href='/codaapidocs/getgroups-2'>getGroups</a></li>
    <li><a href='/codaapidocs/getorganisation'>getOrganisation</a></li>
    <li><a href='/codaapidocs/getplaylists'>getPlaylists</a></li>
    <li><a href='/codaapidocs/getsites'>getSites</a></li>
    <li><a href='/codaapidocs/getsources'>getSources</a></li>
    <li><a href='/codaapidocs/getuser'>getUser</a></li>
    <li><a href='/codaapidocs/modifydisplay'>modifyDisplay</a></li>
    <li><a href='/codaapidocs/modifygroup'>modifyGroup</a></li>
    <li><a href='/codaapidocs/modifyplaylist'>modifyPlaylist</a></li>
    <li><a href='/codaapidocs/modifysource'>modifySource</a></li>
    <li><a href='/codaapidocs/modifyuser'>modifyUser</a></li>
    <li><a href='/codaapidocs/removedisplay'>removeDisplay</a></li>
    <li><a href='/codaapidocs/removegroup'>removeGroup</a></li>
    <li><a href='/codaapidocs/removesource'>removeSource</a></li>
    <li><a href='/codaapidocs/removeuser'>removeUser</a></li>
    <li><a href='/codaapidocs/touchsource'>touchSource</a></li>
    <li><a href='/codaapidocs/uploadsource'>uploadSource</a></li>
    <li><a href='/codaapidocs/removeplaylist'>removePlaylist</a></li>
</ul>